*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background: #536976;
    color: whitesmoke;
}
h1{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    text-align: center;
    margin-top: 50px;
    text-shadow: 6px 6px 15px #111111;
}
.accueil{
    width: 100%;
    display: flex;
    justify-content: center;
}
.accueil ul li{
    float: left;
    text-align: left;
    position: relative;
    margin-left: 50px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px; 
    text-shadow: 6px 6px 15px #111111;
}
.accueil ul::after{
    content: "";
    display: table;
    clear: both;
}
.accueil a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
.accueil a{
    display: block;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0%;
}
.sous{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.accueil > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
   
}
.sous a{
    padding: 10px;    
}
.sous a:hover{
    border-bottom: none;
}
.deroulant > a::after{
    content: "▼";
    font-size: 20px;
}

.photo_profil{
    margin-top: 50px;
    box-shadow: 6px 6px 15px #111111;
    border-radius: 5%
}
.photo-nom{
    margin-top: 50px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    color: white;
    text-shadow: 6px 6px 15px #111111;
}
.projets{
    display: flex;
    gap: 200px;
    padding: 80px;
    text-align: center;
}
.photo-projets{
    width: 20em;
    height: 16em;
    margin-top: 30px;
    border-radius:10px;
    box-shadow: 6px 6px 15px #111111;
}

h2{
    margin-top: 70px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:75px;
    text-align: center;
    text-shadow: 6px 6px 15px #111111;
}
.projet1,.projet2,.projet3{
   gap:100px;
   margin-top: 30px;
}
h3{
    margin-top: 20px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:26px;
}
.cubetext,.cardtext,.sitetext{
    text-align: justify;
    margin-top:30px;
}
.photo-profil{
    margin-top: 50px;
    width: 20em;
    border-radius: 50%;
    box-shadow: 6px 6px 15px #111111;
}
.profil{
    display: flex;
    justify-content: center;
}
.profiltext li span{
    font-weight: bold;
}
.profiltext{
    padding: 50px;
    font-size: 30px;
}
li{
    padding: 8px
}
.formation12,.formation34{
    margin: 50px;
    display: flex;
    justify-content: center;
}
.formation1,.formation2,.formation3,.formation4{
    padding-left:50px;
    text-align: justify;
}
.dates{
    text-align: center;
    font-size: 40px;
}
.lieux{
    margin-top: 15px;
    text-align: center;
    font-size:40px;
    color: rgb(49, 48, 48);
    text-shadow: 6px 6px 15px #111111;
}
.libellé{
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    font-weight:bold;
    color:#191b1b
}
.formation12 p,.formation34 p{
    margin-top: 15px;
}
.contact{
    padding: 100px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
    text-align: left;
    text-shadow: 6px 6px 15px #111111;
}