*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #536976;
    color: whitesmoke;
}
h1{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    text-align: center;
    margin-top: 50px;
    text-shadow: 6px 6px 15px #111111;
}
.accueil{
    width: 100%;
    display: flex;
    justify-content: center;
}
.accueil ul li{
    float: left;
    text-align: left;
    position: relative;
    margin-left: 50px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px; 
    text-shadow: 6px 6px 15px #111111;
}
.accueil ul::after{
    content: "";
    display: table;
    clear: both;
}
.accueil a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
.accueil a{
    text-decoration: none;
    display: block;
    color: white;
}
.sous{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.accueil > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
   
}
.sous a{
    white-space: nowrap;
}
.sous a:hover{
    border-bottom: none;
}
.deroulant > a::after{
    content: "▼";
    font-size: 20px;
}

.photo_profil{
    margin-top: 50px;
    box-shadow: 6px 6px 15px #111111;
    border-radius: 5%
}
.photo-nom{
    margin-top: 60px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    color: white;
    text-shadow: 6px 6px 15px #111111;
}
.projets{
    display: flex;
    gap: 200px;
    padding: 80px;
    text-align: center;
    justify-content: center;
}
.photo-projets{
    width: 20em;
    height: 16em;
    margin-top: 30px;
    border-radius:10px;
    box-shadow: 6px 6px 15px #111111;
}

h2{
    margin-top: 70px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:75px;
    text-align: center;
    text-shadow: 6px 6px 15px #111111;
}
.projet1,.projet2,.projet3{
   gap:100px;
   margin-top: 30px;
}
h3{
    margin-top: 20px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:26px;
}
.cubetext,.cardtext,.sitetext{
    text-align: justify;
    margin-top:30px;
}
.photo-profil{
    margin-top: 50px;
    width: 20em;
    border-radius: 50%;
    box-shadow: 6px 6px 15px #111111;
}
.profil{
    display: flex;
    justify-content: center;
}
.profiltext li span{
    font-weight: bold;
}
.profiltext{
    padding: 50px;
    font-size: 30px;
}
li{
    padding: 8px
}
.formation12,.formation34{
    margin: 50px;
    display: flex;
    justify-content: center;
}
.formation1,.formation2,.formation3,.formation4{
    padding-left:50px;
    text-align: justify;
}
.dates{
    text-align: center;
    font-size: 40px;
}
.lieux{
    margin-top: 15px;
    text-align: center;
    font-size:40px;
    color: rgb(189, 179, 179);
    text-shadow: 6px 6px 15px #111111;
}
.libellé{
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    font-weight:bold;
    color:#8ceeee
}
.formation12 p,.formation34 p{
    margin-top: 15px;
}
.contact{
    padding: 50px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:25px;
    text-align: left;
    text-shadow: 6px 6px 15px #111111;
}

form{
    margin: 0 auto;
    width: 600px;   
    padding:1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    box-shadow: 6px 6px 15px #111111;
    background-color:#445656
}
label{
    margin-top: 20px;
    display: inline-block;
    width: 90px;
    text-align: left;
    white-space: nowrap;
}
input, textarea{
    margin-top: 20px;
    padding-left: 10px;
    font: 1em sans-serif;
    width: 350px;
    box-sizing: border-box;
    border: 1px solid #999;
}
textarea{
    height: 6em;
    width: 500px
}
.button{
    margin-left: 250px;
    margin-top: 20px;
}
button{
    width: 250px;
    height: 40px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:20px;

}
.logos{
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
}
.logos a{
    text-decoration: none;
}
.logos a:hover{
    opacity: 50%;
}
footer{
    text-align: center;
    margin-bottom: 20px;
}